#!/usr/bin/env zsh

alias rlzsh='source $HOME/.zshrc'

alias l='ls'
alias ll='ls -l'
alias la='ls -la'
alias lh='ls -lah'

alias gita='git add'
alias gitp='git push'
alias gitpu='git push -u origin/${git branch --show-current}'
alias gitpf='git push --force-with-lease'

alias pacsearch='pacman -Ss'
alias zshPM="zsh $SHELL_CFG_DIR/pluginManager/manager"