#!/usr/bin/env zsh
function gitc() {
	if [[ $# -eq 0 ]] then
		print -P "%F{red}Error: Please specify commit message(s)!%f\n"
		return 128
	fi

	local temp=()

	for x in $*; do
		temp+=$x	
	done;
	eval "git commit -m \"${(j:" -m ":)temp}\""
}

function updateDiscord() {
	local originalDir=$(pwd)
	cd $PROGRAMS

	wget -q --show-progress -O discord.tar.gz -t 5 "https://discord.com/api/download/stable?platform=linux&format=tar.gz"
	rm -rf $PROGRAMS/Discord
	tar -xf discord.tar.gz
	rm discord.tar.gz
}

function installShellPlugins() {
	local plugins=(${(@s: :)ZSH_PLUGINS})
	local pluginCount=${#plugins}
	local prevDir=$(pwd)

	local failCount=0

	cd $SHELL_CFG_DIR/plugins
	for p in $plugins; do
		git clone --depth 1 -- $p
		if [[ $? != "0" ]] then
			failCount=$((failCount + 1))
		fi
	done;

	cd $prevDir

	local installedCount=$((pluginCount - failCount))
	if [[ $failCount -gt 0 ]] then
		print -P "%F{red}Failed to install $failCount plugin(s)!%f\n%F{yellow}Done installing the other $installedCount plugin(s)!%f\n"
	else
		print -P "%F{green}Done installing $installedCount plugin(s)!%f\n"
	fi
}
